body {
	overflow:hidden;
}

.rwdc-header {
	
	height: 20px;
}

.rwdc-calCell {

}

.rwdc-calCell-inactive {

}

.rwdc-eventpane {	
	padding: 3px;
	overflow: hidden;
	white-space: nowrap;
	/* Don't define height here */
}

.rwdc-dayPanel {
border-style:solid;
	border-width:2px;
	border-color:white;
	background-color:DDDDDD;
	height: 100%;
	width: 100%;
}

.rwdc-dayPanel-notcurrent {
border-style:solid;
	border-width:2px;
	border-color:white;
	background-color:grey;
	height: 100%;
	width: 100%;
}

.rwdc-calendarMainPanel {
	height: 100%;
	width: 100%;

}

.rwdc-day-date-title {
	float: right;
	font-weight: bold; 
	padding: 2px;
	background-color:white;
}

.rwdc-time {
	font-weight:bold;
	display: inline;
	cursor: pointer;
}

.rwdc-event-name {
	font-size:.7em;
	padding-left:2px;
	display: inline;
	cursor: pointer;
}



.rwdc-moreevents {
	font-weight: bold;
	cursor: pointer; 
}

.rwdc-calendarTable {
	border-collapse:collapse;
	height: 100%;
	width: 100%;
}

.rwdc-navPanel {
	border-style:solid;
	border-width:1px;
	padding:0;
	margin:0;
}

.rwdc-popup {
	border-style:solid;
	border-width:1px;
		background-color:white;
	padding: 15px;
}
