body {
	overflow:hidden;
}

.rwdc-header {
	border-style: solid;
	border-width: .5px;
	border-color: black;
	height: 20px;
}

.rwdc-calCell {

}

.rwdc-calCell-inactive {

}

.rwdc-eventpane {
	width: 100px;
	overflow: hidden;
}

.rwdc-dayPanel {
	border-style: solid;
	border-width:.5px;
	border-color:white;
	background-color:red;
	height: 100%;
	width: 100%;
}

.rwdc-dayPanel-notcurrent {
	border-style: solid;
	border-width:.5px;
	border-color:white;
	background-color:grey;
}

.rwdc-calendarMainPanel {
	height: 100%;
	width: 100%;
}

.rwdc-calendarTable {
	border-collapse:collapse;
	height: 100%;
	width: 100%;
}

.rwdc-navPanel {
	border-style:solid;
	border-width:1px;
	padding:0;
	margin:0;
}

.rwdc-popup {
	border-style:solid;
	border-width:1px;
		background-color:white;
	padding: 15px;
}
